<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
        <%- include('./partials/messages') -%>
        <form action="/users/register" method="POST">
          <div class="input-field">
            <input
              type="text"
              id="firstname"
              name="firstname"
              class="form-control"
              value="<%= typeof name != 'undefined' ? firstname : '' %>"
            />
            <label for="firstname">Enter First Name</label>
          </div>
          <div class="input-field">
            <input
              type="text"
              id="lastname"
              name="lastname"
              class="form-control"
              value="<%= typeof name != 'undefined' ? lastname : '' %>"
            />
            <label for="lastname">Enter Last Name</label>
          </div>
          <div class="input-field">
            <input
              type="text"
              id="othername"
              name="othername"
              class="form-control"
              value="<%= typeof name != 'undefined' ? othername : '' %>"
            />
            <label for="othername">Enter Other Name(s)</label>
          </div>
          <div class="input-field">
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
            <label for="password">Enter Password</label>
          </div>
          <div class="input-field">
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
            <label for="password2">Confirm Password</label>
          </div>


          <!-- trying admin settings -->
          <div class="input-field d-none">
            <input
              type="text"
              id="isAdmin"
              name="isAdmin"
              class="form-control"
              value="<%= false %>"
            />
            <label for="isAdmin">Are you an Admin</label>
          </div>


          <button type="submit" class="btn orange p-1 btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login" class="orange-text">Login</a></p>
      </div>
    </div>
  </div>
</div>